<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Write from the heart and share what's inside your mind.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <a class="btn btn-success btn-lg" href="#" role="button" id="home-sign-up">Sign Up!</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Created By and Copyright &copy; kevinwhitsett</small>
  </div>
</footer>
